.multi-slide-input-container {
  position: relative;
  height: 20px;
}

.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #724ee9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.thumb::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #724ee9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider {
  position: relative;
  width: 100%;
}

.track-slider,
.range-slider,
.slider-left-val,
.slider-right-value {
  position: absolute;
}

.track-slider,
.range-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  height: 6px;
}

.track-slider {
  width: 100%;
  z-index: 1;
}

.range-slider {
  z-index: 2;
}

.slider-left-value {
  left: 6px;
}

.slider-right-value {
  right: -4px;
}

.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  outline: none;

  width: 100%;
  outline: none;
  z-index: 3;
}

.thumb-left {
  z-index: 3;
}

.thumb-right {
  z-index: 4;
}

.thumb::-webkit-slider-thumb {
  background-color: #724ee9;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-top: 4.5px;
  pointer-events: all;
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%); /* Új sor hozzáadva */
  top: 50%; /* Új sor hozzáadva */
  margin-top: 0;
}

.thumb::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.thumb::-moz-range-thumb {
  background-color: #724ee9;
  border-radius: 50%;
  border: 4px solid #724ee9;
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin-top: 4.5px;
  pointer-events: all;
  position: relative;
  transform: translateY(-50%); /* Új sor hozzáadva */
  margin-top: 0;
}
