input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1d4ed8;
    cursor: pointer;
    margin-top: -8px; /* Finomhangolás */
    position: relative;
    z-index: 30;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1d4ed8;
    cursor: pointer;
    position: relative;
    z-index: 30;
}

span {
    transform: translateX(-50%);
}
